.body{
    font-family: playfair display; 
       
}

.wrapper-header {
    background-color: #3B373F; 
}

.img-logo {
    padding: 30px;
    display: inline-block;
    margin-bottom: 0px;  

}

.header-ul{
    text-align: right;
    color: white;
    padding-right: 30px;
    margin-top: 0px;           
}

.header-ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 0px;
}

.wrapper-nav li a{
    padding: 16px;
    display: block;
    text-decoration: none;
}

.wrapper-nav li a:hover{
    background-color: rgb(55, 46, 46);
    text-decoration: none;
}

.wrapper-main{
    background-image:url(Imagens/Mask\ group.png);
    height: 450px;
    background-size: cover;
    margin-top: 0px;
}

.TextMain {
    color: white;
    text-align: left;
    width: 50%;
    font-size: 18px;
 }

 .Título {
    font-size: 40px;
 }

.img-ftr {
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100 ;

}

.wrapper-ftr {
    background-color: #3B373F;
   

}