@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #3B373F, #000000);
}

.logo {
    width: 200px;
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    color: white;
    font-size: 15.5px;
    font-family: Montserrat;
    font-weight: 500;
}

nav ul li a {
    position: relative;
}

nav ul li a::after {
    content: " ";
    width: 0px;
    height: 3px;
    background-image: linear-gradient(45deg, #2f2f2f, #d8d8d8);
    position: absolute;
    top: 45px;
    left: 20px;
    transition: width 0.7s;

}

nav ul li a:hover::after {
    width: 40px;
}

nav ul li a:hover {
    color: #bcbcbc;
    transition: all 0.7s;
}

ul {
    transition: all 0.8s;
}

.menu-resp {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 40px;
    top: 35px;
    display: none;
}

button:focus~ul {
    height: 250px;
}

@media (max-width: 868px) {

    header,
    ul {
        flex-direction: column;
        align-items: unset;
        padding-top: 10px;
        text-align: center;
    }

    header {
        height: auto;
    }

    ul {
        margin: 0px;
        height: 0px;
        overflow: hidden;
    }

    li {
        padding: 10px;
    }

    li,
    ul {
        width: 100%;
    }

    .menu-resp {
        display: flex;
    }

    .menu-resp:hover {
        color: rgb(126, 126, 126);
        transition: all 0.3s;
    }

}


.wrapper-main {
    background-image: url(casas-got/elenco.png);
    background-size: cover;
    display: flex;
    height: 700px;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.wrapper-main h1 {
    padding: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
}

.wrapper-main div {
    color: white;
    width: 50%;
    padding:20px;
}


.Titulo {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Paragrafo {
    font-size: 1.07rem;

}

.wrapper-casas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-casas {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-casas img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto 10px;
}

.card-casas h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-casas p {
    font-size: 1rem;
}

.wrapper-ftr {
    background-color: #000000;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ftr {
    height: 200px;
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
}
